@import url('https://fonts.googleapis.com/css?family=Exo|Roboto=|Indie+Flower&display=swap" rel="stylesheet">display:100,200,300,400,500,600,700|Exo: 100,200,300,400,500,600,700,');

/*------------------------------------------- CSS Index.html------ */

body {
    font-family: 'Roboto', sans-serif;
    
}
/* -------Trial--------- */
.container6 {
  position: relative;
  text-align: center;
  color:rgb(219, 46, 46);
}
.container8 {
    position: relative;
    text-align:center;
    color:orangered;

}
/* .learn { 
    background: url("../images/sereno.jpg") no-repeat; 
   background-size: cover;
    min-height: 100vh; */

}


/* Text on Image in html */
/* .top-left {
  position: absolute;
  bottom:10px;
  left: 10px;
  font-size: 10px;
} */



.p .large {
    margin-left: 250px;
    margin-right: 250px;
}




.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
font-size:30px;
}



.bottom-left {
    position: absolute;
    font-size:10px;
    bottom: 5px;
    left:10px;
}
/* --------------------------------Trial */
/* ------------------------------------------------ Divs Index.html */



/* --------------------------Jumbotron Index.html------------------- */

.jumbotron {
        padding: 5px;
    margin: 5px;
}


.jumbotron h1 {
    font-family: 'Indie+Flower';
    /* width:25%; */
}
.jumbotron p {
    /* color:rgb(102, 102, 241); */
    font-family: 'Roboto',sans-serif;
    font-size: larger;
}
/* ---------------------------------------------Block Divider */

.block-divider--orange {
    width:350px;
    height:7px;
    font-size: 10px;
    background-color: orange;
}

/* -------------------------------------CSS meet.html */


/* .Container p {
    color:rgb(44, 9, 9); */



  /* -----------------------------Buttons */


/* ---------------------------------Learn-more.html */

.melone {
    color:#fd2626;
  margin-top: 150px;
}
.arancia { 
    color: #ffd34d;
}
.banana {
    color:#5fb4ff;
        margin-top: 300px;
    margin-left: 25px;
    
}





@media (min-width: 576px)
{

}


@media (min-width: 576px)
{

}

@media (min-width: 576px)
{

}